@charset "UTF-8";

// VARIABLES
@import "basic/variables";

//FONTS
@import "basic/fonts";

//WIKKI HERE
@import "basic/wikki";
//Inicio do basico
@import "basic/basic";

//NEWS
@import "basic/news";
//OUIBOUNCE
@import "basic/ouibounce";
//PAGELOADER
@import "basic/pageloader";
//TOP_RANK
@import "basic/top_rank";
//promoção
@import "basic/promo";
//customização
@import "basic/custom";

@import "basic/stream";