@font-face {
  font-family: Martel;
  src: url('Martel.ttf.woff') format('woff'),
  url('Martel.ttf.svg#Martel') format('svg'),
  url('Martel.ttf.eot'),
  url('Martel.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: Anurati;
    src: url('Anurati-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Fondamento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.header-text {
  z-index: 99;
  padding: 5px;
  position: absolute;
  height: 24px;
  width: 100%;
  top: 2px;
  text-align: left;
  left: 2%;
  color: #ffd698;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #2c2c2c, -1px 1px 0 #000, 1px 1px 0 #000;
  font: 100 18pt Martel, Arial, Helvetica, sans-serif !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.left-text {
  padding: 0;
  position: absolute;
  height: 22px;
  width: 116px;
  top: 5px;
  left: 38px;
  text-align: center;
  color: #e1bea4;
  font-family: Martel, Arial, Helvetica, sans-serif;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #2c2c2c, -1px 1px 0 #000000, 1px 1px 0 #000;
  font-weight: 400;
  font-size: 21px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
