/* This is a compiled file, you should be editing the file in the templates directory */

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: rgba(177, 126, 15, .9);
    //background: rgba(73, 73, 73, .9);
    position: fixed;
    z-index: 20000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 3px;
}


/**
.pace {
    pointer-events: none;
    user-select: none;
    z-index: 2247483648;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    border: 0;
    height: 1px;
    overflow: hidden;
    background: #fafafa;
}

.pace .pace-progress {
    box-sizing: border-box;
    transform: translate3d(0, 0, 0);

    max-width: 400px;
    position: absolute;
    z-index: 2247483648;
    display: block;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: grey;
}

.pace.pace-inactive {
    display: none;
}

#preloader {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,1);
    overflow: hidden;
    position: fixed;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 2247483648;
}

.p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
*/
