//WIKKI STARTS HERE

#tabs * {
  box-sizing: border-box;
}

#tabs {
  box-sizing: border-box;
  display: inline-flex;
  width: 100%;
  position: relative;
  //top: -10px;
  //left: -10px;
  max-width: 780px;
}

.editmenu {
  float: right;
  text-align: right;
  clear: both;
  display: block;
  width: 100%;
}

.wiki_edit {
  float: right;
  font-size: 9px;
  font-style: italic;
  text-align: right;
  font-weight: normal;
}

.mce-notification-warning {
  display: none !important;
}

.breadcumb {
  width: 100%;
  padding: 5px 10px;
  background: rgb(225, 203, 178);
  margin-bottom: 10px;
  border-radius: 5px;
  text-transform: capitalize;
  overflow: auto;
}

.breadcumb a:hover {
  text-decoration: none !important;
}

.wiki_text img {
  max-width: 100%;
  margin-bottom: 10px;
}

#tabs p {
  margin-bottom: 10px;
}

#tabs input, #tabs select {
  width: 100%;
  padding: 5px;
  border: 1px solid #5a2e49;
  border-radius: 4px;
}

#tabs .markItUp {
  width: 100%;
  border: 1px solid #5a2e49;
  border-radius: 4px;
  padding: 5px;
  background: white;
  margin: 0;
}

.wiki_menu {
  background: rgba(90, 40, 0, 0.1);
  padding: 0;
  border-right: 1px solid;
  margin: 0 10px 0 0;
  color: #5a2800 !important;
}

.wiki_menu a {
  width: 100%;
  padding: 5px 10px;
  display: block;
  float: left;
  color: #5a2800 !important;
}

.wiki_menu a:hover {
  text-decoration: none !important;
}

.wiki_menu li {
  border-bottom: 1px solid rgba(90, 40, 0, 0.20);
  display: block;
  float: left;
  color: #5a2800 !important;
  width: 180px;
  background: rgba(90, 40, 0, 0.10);
  margin-bottom: 5px !important;
  font-size: 12px;
  cursor: inherit !important;
  transition: all 0.9s;
}

.wiki_menu li:hover, .active {
  background: rgba(90, 40, 0, 0.20) !important;
}

.wiki_submenu {
  display: block;
  background: #efddc2;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0 0;
}

.wiki_submenu .youtube {
  float: right;
  width: 33px;
  margin-right: 8px;
}

.wiki_submenu img {
  width: 32px;
  height: 32px;
  margin: -7px;
  padding: 0;
  vertical-align: middle;
  image-rendering: pixelated;
  float: inherit;
  margin-left: -3px;
}

.wiki_submenu li {
  margin-bottom: 5px;
  padding: 5px;
  border-bottom: 1px solid #e1cbb2;
  list-style-type: none;
  background: rgba(246, 248, 235, 0.42);
  border-radius: 4px;
}

.wiki_submenu li:hover {
  background: #e1cbb2;
}

.wiki_submenu a {
  width: 100%;
  display: block;
  color: #5a2800 !important;
}

.wiki_submenu a:hover {
  color: #5a2800 !important;
}

.auto {
  margin: 0 auto;
  display: block;
}

.big {
  line-height: 2em;
}

.med {
  line-height: 1.4em;
}

.wiki_title {
  min-width: 350px;
  border-radius: 2px;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  width: 100%;
  margin: 0 0 5px;
}

.wiki_text {
  width: 100%;
  display: block;
  border: 1px solid #793d03;
  background: #fff6e9;
  border-radius: 2px;
  padding: 10px !important;
  text-align: justify;
  margin: 0 0 15px;
}

.wiki_text input {
  width: 100%;
  padding: 5px;
}

.wiki_text table {
  display: block;
  width: 100%;
}

.wiki_logo {
  display: block;
  margin: 0 auto;
  max-width: inherit;;
}

#boxeventinfo {
  width: 100%;
  border-radius: 5px;
  text-align: center;
  font: 10pt Verdana, Arial, Times New Roman, sans-serif
}

.wiki_title {
  background: none;
  overflow: hidden;
  padding-top: .5em;
  padding-bottom: .17em;
  width: auto;
  text-align: left;
  font-weight: bolder;
  font-size: 17pt;
  margin: 0 0 5px;
}

p {
  padding-left: 2%;
  margin: 0
}

form {
  margin: 0;
}

.big {
  font-size: 1.5em;
}

.med {
  font-size: 1.2em;
}

.sma {
  font-size: .8em;
}

.wiki_menu {
  border-right: 1px solid rgba(90, 40, 0, 0.5) !important;
  width: 180px;
  max-width: 180px;
  min-width: 180px;
  display: block;
  margin-right: 15px !important;
}

.wiki_content {
  width: 75%;
  padding-right: 15px;
}

.menu_destak {
  color: darkgreen;
}

.menu_destak a {
  padding: 10px 10px;
  background: rgba(0, 128, 0, 0.10);
  color: darkgreen !important;
}

.menu_destak a:hover {
  background: rgba(0, 128, 0, 0.20);
}

.menu_search {
  padding: 5px 10px;
}

.search_input {
  float: left !important;
  width: 135px !important;
}

.search_icon {
  float: left !important;
  margin: 4px !important;
  margin-right: 0 !important;
  width: 20px !important;
  border: 0 !important;
  padding: 0 !important;
}

.video-container, .video-container iframe {
  width: 100%;
  height: 300px;
  border: 1px solid #5a2800;
  margin-bottom: -15px;
  overflow: hidden;
}

//WIKKI ENDS HERE