stages:
    - deploy
deploy:
    stage: deploy
    only:
        refs:
            - master
    variables:
        GIT_CLONE_PATH: '/var/www/souzaariick/$CI_PROJECT_NAME'
        GIT_CLEAN_FLAGS:
            -ffdx -e logs/
            -ffdx -e cache/
    script:
        - composer install
    cache:
        paths:
            - vendor/
