stages:
    - deploy
after_script:
    - chown -R souzaariick:souzaariick *
deploy:
    stage: deploy
    only:
        refs:
            - master
    variables:
        GIT_CLONE_PATH: '/var/www/souzaariick/deployment/$CI_PROJECT_NAME'
        GIT_CLEAN_FLAGS:
            -ffdx -e logs/
            -ffdx -e cache/
    script:
        - composer install
        - cp -rf . /var/www/souzaariick/production/$CI_PROJECT_NAME
    cache:
        paths:
            - vendor/
