stages:
    - deploy
after_script:
    - mkdir -p /var/www/souzaariick/production/$CI_PROJECT_NAME
    - cp -rf . /var/www/souzaariick/production/$CI_PROJECT_NAME
    - find /var/www/souzaariick/production/$CI_PROJECT_NAME -type d -exec chmod 750 {} \;
    - find /var/www/souzaariick/production/$CI_PROJECT_NAME -type f -exec chmod 640 {} \;
    - chown -R souzaariick:souzaariick /var/www/souzaariick/production/$CI_PROJECT_NAME
deploy:
    stage: deploy
    only:
        refs:
            - master
    variables:
        GIT_CLONE_PATH: '/var/www/souzaariick/deployment/$CI_PROJECT_NAME'
        GIT_CLEAN_FLAGS:
            -ffdx -e logs/
            -ffdx -e cache/
    script:
        - composer install
    cache:
        paths:
            - vendor/
