before_script:
    - composer install

stages:
    - deploy

deploy:
    stage: deploy
    script:
        - find . -type f -exec chmod 644 {} +
        - find . -type d -exec chmod 755 {} +
