ErrorDocument 404 https://%{HTTP_HOST}/?subtopic=erro

RewriteEngine on
Options All -Indexes

# WC HTTPS Redirect
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]