#TopLvl {
    color: #d3e7f2;
    position: relative;
    width: 178%;
    background: url(.../images/themeboxes/bk_themebox.png) no-repeat center calc(100% - 1044px),
    url(.../images/themeboxes/bk_themebox.png) no-repeat center calc(100% - 748px),
    url(../images/themeboxes/bk_themebox.png) no-repeat center calc(100% - 452px),
    url(../images/themeboxes/bk_themebox.png) no-repeat center bottom;
    padding: 0 0 0 0;
    top: 170px;
    text-align: justify;
    max-height: 452px;
    margin: 0 auto;
}

#TopLvl::after {
    /* content: ""; */
    z-index: 5;
    background: url(../images/themeboxes/bk_pilares.png) no-repeat center;
    background-position-x: 20px;
    background-position-y: 34px;
    width: 42px;
    height: 602px;
    position: absolute;
    left: 155px;
    top: -11px;
}

#TopLvl::before {
    /* content: ""; */
    z-index: 5;
    background: url(../images/themeboxes/bk_pilares.png) no-repeat center;
    background-position-x: 20px;
    background-position-y: 34px;
    width: 42px;
    height: 602px;
    position: absolute;
    left: -26px;
    top: -11px;
}

.top1 {
    color: #FFFF00 !important;
}

.top2 {
    color: #FFFDC3 !important;
}

.top3 {
    color: #f3c5a4 !important;
}

.top_online {
    color: #13ff02 !important;
}

.top_offline {
    color: #fc3 !important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.TopLvl_title {
    z-index: 80;
    position: relative;
    top: -68px;
    text-align: center;
    background: url(../images/themeboxes/bks_top.png) no-repeat center bottom;
    background-size: 80%;
    width: 200%;
    color: #ffdf8e;
    text-shadow: 0 1px 2px #000, 0 1px 5px #000;
    font-size: 1.5em;
    margin: -10px 0 0 -153px;
    line-height: 172px;
    letter-spacing: 1px;
    overflow: visible;
    font-weight: 700;
    box-shadow: none;
    text-transform: uppercase;
}

.topleveltext {
    color: #ffdf8e;
    text-shadow: 0 1px 2px #000, 0 1px 5px #000;
    font-size: 12px;
    font-weight: 700;
    box-shadow: none;
    overflow: hidden;
    white-space: nowrap;

}

.topleveltext:hover {
    color: #89d1da;
    text-shadow: 2px 2px 7px #868686;
}

.topleveltext span {
    font-size: 13px;
    color: white;
}

.topleveltext small {
    color: white;
    font: 600 7pt Verdana, Arial, Times New Roman, sans-serif;
}

.tplevellayout {
    z-index: 150;
    min-height: 65px;
    margin: -20px 0px 0px 87px;
    padding: 0 0 16px 40px;
    position: relative;
    top: -83px;
}

.tplevellayout:last-child {
    padding: 0 0 40px 40px;
}

.outfitImgtoplevel {
    z-index: 1;
    width: 64px;
    height: 64px;
    position: absolute;
    background: no-repeat 0 0;
    left: -36px;
    margin-top: -55px;
}

.rankinglevel span {
    float: left;
    display: block;
    width: 68px;
    height: 38px;
    margin: -6px 1px 0 -24px;
}

.rankinglevel span.firstlevel {
    background: transparent url(../images/themeboxes/rank.png) no-repeat center;
    position: absolute;
    width: 19px;
    background-position-x: -23px;
    top: 0;
    left: 58px;
    z-index: 1
}

.rankinglevel span.secondlevel {
    background: transparent url(../images/themeboxes/rank.png) no-repeat center;
    position: absolute;
    width: 19px;
    background-position-x: -4px;
    top: 0;
    left: 58px;
    z-index: 1
}

.rankinglevel span.thirdlevel {
    background: transparent url(../images/themeboxes/rank.png) no-repeat center;
    position: absolute;
    width: 19px;
    background-position-x: -44px;
    top: 0;
    left: 58px;
    z-index: 1
}

.rankinglevel #firstlevel {
    z-index: 5;
    background: transparent url(../images/themeboxes/sparkle.gif) no-repeat;
    position: absolute;
    width: 32px;
    top: 22px;
    left: -3px;
}

.rank_copyright {
    z-index: 160;
    width: 100%;
    font-size: .5em;
    position: absolute;
    bottom: 30px;
    text-align: center;
}
.rank_copyright a{
    /*text-shadow: 0 1px 2px #000, 0 1px 5px #000;*/
    color: #fff !important;
}

.rank_pbot_copyright {
    z-index: 160;
    width: 100%;
    font-size: .5em;
    position: absolute;
    bottom: 50px;
    text-align: center;
}
.rank_pbot_copyright a{
    /*text-shadow: 0 1px 2px #000, 0 1px 5px #000;*/
    color: #fff !important;
}