/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/
.theme-default .nivoSlider {
  position: relative;
  background: #fff url(loading.gif) no-repeat 50% 50%;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
  -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
  box-shadow: 0px 1px 5px 0px #4a4a4a;
}

.theme-default .nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

.theme-default .nivoSlider a {
  border: 0;
  display: block;
}

.theme-default .nivo-controlNav {
  text-align: center;
  padding: 20px 0;
}

.theme-default .nivo-controlNav a {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(bullets.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  margin: 0 2px;
}

.theme-default .nivo-controlNav a.active {
  background-position: 0 -22px;
}

.theme-default .nivo-directionNav a {
  display: block;
  width: 30px;
  height: 30px;
  background: url(arrows.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.theme-default:hover .nivo-directionNav a {
  opacity: 1;
}

.theme-default a.nivo-nextNav {
  background-position: -30px 0;
  right: 15px;
}

.theme-default a.nivo-prevNav {
  left: 15px;
}

.theme-default .nivo-caption {
  font-family: Helvetica, Arial, sans-serif;
}

.theme-default .nivo-caption a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}

.theme-default .nivo-caption a:hover {
  color: #fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
  width: 100%;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
  width: auto;
  height: auto;
  background: none;
  margin-bottom: 5px;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
  display: block;
  width: 120px;
  height: auto;
}

#infocontainer {
  min-height: 100%;
  position: relative;
  width: 847px;
  display: block;
}

#footer {
  clear: both;
  min-height: 100%;
  position: relative;
  width: 847px;
  display: block;
  padding-top: 10px;
}

.fullheader {
  background-image: url(http://www.uorenaissance.com/info/images/template/header.png);
  width: 847px;
  height: 54px;
}

.fullbody {
  display: inline-block;
  width: 847px;
  background-image: url(http://www.uorenaissance.com/info/images/template/body.jpg);
  background-repeat: repeat-y;
}

.fullfooter {
  display: block;
  width: 847px;
  height: 37px;
  background-image: url(http://www.uorenaissance.com/info/images/template/footer.png);
  text-align: center;
  font-family: "metamorphousregular", Verdana, Arial;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  clear: none;
  line-height: 14px;
}

.bottomfullfooter {
  display: block;
  width: 847px;
  height: 37px;
  background-image: url(http://www.uorenaissance.com/info/images/template/bottomfooter.png);
}

.medheader {
  background-image: url(http://www.uorenaissance.com/info/images/template/header_med.png);
  width: 415px;
  height: 55px;
}

.medbody {
  width: 415px;
  background-image: url(http://www.uorenaissance.com/info/images/template/body_med.jpg);
  background-repeat: repeat-y;
}

.medbody td {
  text-align: left;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000;
  clear: none;
  line-height: 16px;
}

.medbody a {
  color: #000;
  text-decoration: none;
}

.medbody a:hover {
  color: #351601;
  text-decoration: underline;
}

.fullbody a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.fullbody a:hover {
  text-decoration: underline;
}

/* UOR Main Updates */
.uormainheader td.banners {
  padding-left: 18px;
  width: 800px;
  padding-right: 18px;
  color: #000;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  line-height: 16px;
}

.uormainheader td.news {
  width: 255px;
  color: #000;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  line-height: 16px;
}

.uormainheader td.hottopics {
  width: 255px;
  color: #000;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  line-height: 16px;
  padding: 5px 0px 0px 0px;
}

.uormainheader td.hottopics a {
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  line-height: 16px;
}

.uormainheader td.sep {
  height: 7px;
  line-height: 7px;
  vertical-align: middle;
  padding: 1px 0px 6px 0px;
}

.uormainheader td.newstext {
  width: 510px;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
  line-height: 16px;
  padding: 10px 0px 0px 10px;
}

.uormainheader td.newstext a {
  color: #4e2102;
}

.uormainheader p.newsbody {
  color: #000;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  line-height: 14px;
  padding: 5px 5px 10px 5px;
}

.uormainheader h1.newsitemfooter {
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  line-height: 14px;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  color: #30302f;
}

.uormainheader a.newsitemname {
  font-family: "metamorphousregular", Verdana, Arial;
  color: #4e2102;
  margin: 0px;
  font-size: 16px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  text-align: left;
  line-height: 18px;
  min-width: 150px;
}

/* UOR Main Updates */
td.rankicon {
  padding-left: 25px;
  text-align: right;
  padding-right: 5px;
}

td.rankname {
  text-align: left;
  font-weight: normal;
}

td.rankscore {
  padding-right: 15px;
  text-align: left;
  font-weight: normal;
}

td.ranktotalkills {
  text-align: right;
  width: 65%;
  font-weight: normal;
  padding-right: 10px;
}

td.lootdescription {
  text-align: left;
  width: 60%;
  font-weight: normal;
  padding-left: 20px;
}

td.lootchance {
  text-align: center;
  width: 15%;
  font-weight: normal;
}

td.lootimage {
  text-align: center;
  width: 25%;
  font-weight: normal;
}

.medfooter {
  display: block;
  width: 415px;
  height: 27px;
  background-image: url(http://www.uorenaissance.com/info/images/template/footer_med.png);
}

.medbody td.armorcol1 {
  padding-left: 10px;
  text-align: right;
  width: 38%;
  font-weight: normal;
  line-height: 16px;
}

.medbody td.armorcol2 {
  text-align: center;
  font-weight: normal;
  line-height: 16px;
  width: 24%;
}

.medbody td.armorcol3 {
  padding-right: 10px;
  line-height: 16px;
  text-align: left;
  width: 38%;
  font-weight: normal;
}

td.mobinfoleft {
  padding-right: 5px;
  text-align: right;
  width: 45%;
  font-weight: normal;
}

td.mobinfocenter {
  padding-top: 15px;
  text-align: center;
  font-weight: normal;
  line-height: 16px;
}

td.mobinfocenterimg {
  text-align: center;
  line-height: 5px;
}

td.mobinforight {
  padding-left: 5px;
  text-align: left;
  width: 45%;
  font-weight: normal;
}

td.spawndesc {
  padding-left: 15px;
  text-align: left;
  width: 70%;
  font-weight: normal;
}

td.spawnicon {
  text-align: center;
  width: 10%;
}

td.generalcenter {
  text-align: center;
}

.infoleft {
  padding-top: 0px;
  float: left;
  text-align: center;
  width: 25%;
  height: 205px;
}

.infocenter {
  padding-top: 0px;
  display: inline-block;
  text-align: center;
  width: 50%;
  left: 50%;
  height: 205px;
}

.inforight {
  padding-top: 0px;
  float: right;
  text-align: center;
  width: 25%;
  height: 205px;
}

td.relatedlinkname {
  text-align: left;
  width: 70%;
  padding-left: 10px;
}

td.relatedlinkname a:hover {
  text-decoration: underline;
}

td.relatedlinkauthor {
  text-align: left;
  width: 30%;
  font-weight: normale;
}

/* CSS for listing the weapon list pages */
.weaponlist {
  font-family: "metamorphousregular", Verdana, Arial;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.weaponlist td.buffer {
  width: 3%;
}

.weaponlist td.col1 {
  text-align: left;
  width: 18%;
  border-bottom: 1px solid #71614e;
}

.weaponlist td.col2 {
  text-align: center;
  width: 12%;
  border-bottom: 1px solid #71614e;
}

.weaponlist td.col3 {
  text-align: center;
  width: 13%;
  border-bottom: 1px solid #71614e;
}

.weaponlist td.col4 {
  text-align: center;
  width: 13%;
  border-bottom: 1px solid #71614e;
}

.weaponlist td.col5 {
  text-align: center;
  width: 13%;
  border-bottom: 1px solid #71614e;
}

.weaponlist td.col6 {
  text-align: center;
  width: 20%;
  border-bottom: 1px solid #71614e;
}

/* CSS for listing the house list pages */
.houselist {
  font-family: "metamorphousregular", Verdana, Arial;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.houselist td.buffer {
  width: 3%;
}

.houselist td.col1 {
  text-align: left;
  width: 25%;
  border-bottom: 1px solid #71614e;
}

.houselist td.col2 {
  text-align: center;
  width: 12;
  border-bottom: 1px solid #71614e;
}

.houselist td.col3 {
  text-align: center;
  width: 13%;
  border-bottom: 1px solid #71614e;
}

.houselist td.col4 {
  text-align: center;
  width: 9%;
  border-bottom: 1px solid #71614e;
}

.houselist td.col5 {
  text-align: center;
  width: 9%;
  border-bottom: 1px solid #71614e;
}

.houselist td.col6 {
  text-align: center;
  width: 8%;
  border-bottom: 1px solid #71614e;
}

.houselist td.col7 {
  text-align: center;
  width: 9%;
  border-bottom: 1px solid #71614e;
}

.houselist td.col8 {
  text-align: center;
  width: 13%;
  border-bottom: 1px solid #71614e;
  background-color: FFF;
}

/* CSS for listing the rare list pages */
.skilllist {
  font-family: "metamorphousregular", Verdana, Arial;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.skilllist td.buffer {
  width: 3%;
}

.skilllist td.col1 {
  text-align: left;
  width: 15%;
  border-bottom: 1px solid #71614e;
}

.skilllist td.col2 {
  text-align: center;
  width: 15%;
  border-bottom: 1px solid #71614e;
}

.skilllist td.col3 {
  text-align: center;
  width: 15%;
  border-bottom: 1px solid #71614e;
}

.skilllist td.col4 {
  text-align: center;
  width: 15%;
  border-bottom: 1px solid #71614e;
}

.skilllist td.col5 {
  text-align: center;
  width: 15%;
  border-bottom: 1px solid #71614e;
}

.skilllist td.col6 {
  text-align: center;
  width: 20%;
  border-bottom: 1px solid #71614e;
  background-color: FFF;
}

.skilllist img {
  background-color: #FFFFFF;
}

/* CSS for listing the rare list pages */
.rarelist {
  font-family: "metamorphousregular", Verdana, Arial;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.rarelist td.buffer {
  width: 3%;
}

.rarelist td.col1 {
  text-align: left;
  width: 30%;
  border-bottom: 1px solid #71614e;
}

.rarelist td.col2 {
  text-align: center;
  width: 13%;
  border-bottom: 1px solid #71614e;
}

.rarelist td.col3 {
  text-align: center;
  width: 13%;
  border-bottom: 1px solid #71614e;
}

.rarelist td.col4 {
  text-align: center;
  width: 16%;
  border-bottom: 1px solid #71614e;
}

.rarelist td.col5 {
  text-align: center;
  width: 20%;
  border-bottom: 1px solid #71614e;
}

.rarelist h1 {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 14px;
  line-height: 16px;
  color: #cecece;
  text-decoration: none;
  font-weight: normal;
  padding-left: 5px;
}

/* CSS for listing the compendium main pages */
.compendiumheader {
  color: #000;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  line-height: 18px;
  vertical-align: top;
}

.compendiumheader td.header {
  color: #000;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  line-height: 18px;
  padding-left: 18px;
  padding-right: 18px;
}

.compendiumheader a {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  line-height: 18px;
}

.compendiumheader td.buffer {
  width: 4%;
}

.compendiumheader td.col1 {
  width: 31%;
  vertical-align: top;
}

.compendiumheader td.col2 {
  width: 31%;
  vertical-align: top;
}

.compendiumheader td.col3 {
  width: 31%;
  vertical-align: top;
}

/* CSS for listing the info list pages */
.infolist {
  font-family: "metamorphousregular", Verdana, Arial;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.infolist img {
  padding-top: 2px;
}

.infolist h1 {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 14px;
  line-height: 16px;
  color: #cecece;
  text-decoration: none;
  font-weight: normal;
  padding-left: 5px;
}

.infolist td.buffer {
  width: 2%;
}

.infolist td.col1 {
  text-align: left;
  width: 33%;
  border-bottom: 1px solid #71614e;
}

.infolist td.col2 {
  text-align: center;
  width: 12%;
  border-bottom: 1px solid #71614e;
}

.bestiary {
  font-family: "metamorphousregular", Verdana, Arial;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.bestiary td.buffer {
  width: 2%;
}

.bestiary td.col1 {
  text-align: left;
  width: 30%;
  border-bottom: 1px solid #71614e;
}

.bestiary td.col2 {
  text-align: center;
  width: 16%;
}

.trainers a:link {
  text-decoration: underline;
}

.trainers {
  font-family: "metamorphousregular", Verdana, Arial;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.trainers td.buffer {
  width: 2%;
  padding-top: 2px;
}

.trainers td.col1 {
  text-align: center;
  width: 10%;
  padding-top: 2px;
}

.trainers td.col2 {
  text-align: left;
  width: 20%;
  padding-top: 2px;
}

.trainers td.col3 {
  text-align: left;
  width: 33%;
  padding-top: 2px;
}

.trainers td.col4 {
  text-align: left;
  padding-left: 100px;
  border-bottom: 1px solid #71614e;
  width: 95%;
}

.trainers td.col5 {
  text-align: center;
  border-bottom: 1px solid #71614e;
  width: 95%;
}

.row1 {
  height: 250px;
}

.columnleft {
  float: left;
}

.columnright {
  float: right;
}

.row1left {
  padding-top: 5px;
  text-align: center;
  width: 423px;
}

.row1right {
  padding-top: 5px;
  text-align: center;
  width: 423px;
}

.centertext {
  display: block;
  text-align: center;
}

.catimage {
  padding-top: 3px;
  height: 98px;
  vertical-align: middle;
}

.footertext {
  padding-top: 3px;
  padding-bottom: 3px;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  font-family: "metamorphousregular", Verdana, Arial;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  clear: none;
  line-height: 16px;
}

.footerimage {
  padding-top: 3px;
  height: 98px;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

.detailtext {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  color: #000;
  margin: 0px;
  padding-top: 9px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  vertical-align: middle;
  font-weight: normal;
}

.itemname {
  font-family: "metamorphousregular", Verdana, Arial;
  color: #663b1e;
  margin: 0px;
  padding-top: -5px;
  text-transform: uppercase;
  font-size: 20px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.8);
  text-align: center;
  line-height: 49px;
  min-width: 150px;
}

.itemname2 {
  font-family: "metamorphousregular", Verdana, Arial;
  color: #663b1e;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: 18px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.8);
  text-align: center;
  line-height: 20px;
  min-width: 150px;
}

.itemname3 {
  font-family: "metamorphousregular", Verdana, Arial;
  color: #663b1e;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 5px;
  /*text-transform: uppercase;*/
  font-size: 16px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.8);
  text-align: center;
  line-height: 18px;
  min-width: 150px;
}

img.bestiary {
  border: 1px solid #71614e;
  border-radius: 2px;
}

img.bestiary:hover {
  border: 1px solid #76401a;
  border-radius: 2px;
}

img.footercatmouseover {
  border: 1px solid #76401a;
  border-radius: 13px;
}

img.footercatmouseover:hover {
  border: 1px solid #b16028;
  border-radius: 13px;
}

img.catmouseover {
  border: 1px solid #76401a;
  border-radius: 13px;
}

img.catmouseover:hover {
  border: 1px solid #b16028;
  border-radius: 13px;
}

/* PVM leaderboard */
.pvmheader {
  color: #000;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  line-height: 16px;
  vertical-align: middle;
}

.pvmheader td.buffer {
  width: 2%;
}

.pvmheader td.nav {
  width: 18%;
  vertical-align: middle;
  text-align: center;
}

.pvmheader td.monstericon {
  width: 6%;
  border-bottom: 1px solid #71614e;
}

.pvmheader td.monstername {
  width: 24%;
  border-bottom: 1px solid #71614e;
}

.pvmheader td.playername {
  width: 13%;
  border-bottom: 1px solid #71614e;
  padding-left: 3px;
}

.pvmheader td.rank {
  width: 2%;
  border-bottom: 1px solid #71614e;
  text-align: right;
  padding-right: 3px;
}

.pvmheader a {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
}

.pvmheader a:hover {
  color: #351601;
  text-decoration: underline;
}

/* PVM leaderboard */
/* Downloads */
.downloads {
  color: #000;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  line-height: 16px;
  vertical-align: middle;
}

.downloads td.buffer {
  width: 2%;
  padding-bottom: 10px;
}

.downloads td.itemicon {
  width: 12%;
  border-bottom: 1px solid #71614e;
  padding-top: 10px;
  padding-bottom: 10px;
}

.downloads td.description {
  width: 80%;
  border-bottom: 1px solid #71614e;
  padding-top: 10px;
  padding-bottom: 10px;
}

.downloads p.info {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  font-weight: normal;
  padding-left: 12px;
}

.downloads a {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.downloads a:hover {
  color: #351601;
  text-decoration: underline;
}

/* Downloads */
/* Connecting */
.connecting {
  color: #000;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  line-height: 16px;
  vertical-align: middle;
}

.connecting td.buffer {
  width: 4%;
  padding-bottom: 10px;
}

.connecting td.description {
  width: 92%;
  border-bottom: 1px solid #71614e;
  padding-top: 10px;
  padding-bottom: 10px;
}

.connecting p.info {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  font-weight: normal;
  padding-left: 12px;
}

.connecting a {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.connecting a:hover {
  color: #351601;
  text-decoration: underline;
}

/* Connecting */
/* Conduct */
.conduct {
  color: #000;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  line-height: 16px;
  vertical-align: middle;
}

.conduct td.buffer {
  width: 4%;
  padding-bottom: 10px;
}

.conduct td.image {
  width: 11%;
  border-bottom: 1px solid #71614e;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: middle;
}

.conduct td.topdetail {
  width: 79%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #71614e;
}

.conduct td.detail {
  width: 92%;
  border-bottom: 1px solid #71614e;
  padding-top: 10px;
  padding-bottom: 10px;
}

.conduct p.info {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  font-weight: normal;
  padding-left: 12px;
}

.conduct a {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.conduct a:hover {
  color: #351601;
  text-decoration: underline;
}

/* Conduct */
/* Support */
.support {
  color: #000;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  line-height: 16px;
  vertical-align: middle;
}

.support td.buffer {
  width: 4%;
  padding-bottom: 10px;
}

.support td.image {
  width: 11%;
  border-bottom: 1px solid #71614e;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: middle;
}

.support td.topdetail {
  width: 79%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #71614e;
}

.support td.detail {
  width: 92%;
  border-bottom: 1px solid #71614e;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #71614e;
}

.support input {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  font-weight: normal;
  background-color: transparent;
}

.support select {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  font-weight: normal;
  background-color: transparent;
}

.support td.paypal1 {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  font-weight: normal;
  width: 30%;
  padding-top: 10px;
}

.support td.paypal2 {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  font-weight: normal;
  width: 60%;
  padding-top: 10px;
}

.support p.info {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  font-weight: normal;
  padding-left: 12px;
}

.support a {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.support a:hover {
  color: #351601;
  text-decoration: underline;
}

/* Support */
/* Contact */
.contact {
  color: #000;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  line-height: 16px;
  vertical-align: middle;
}

.contact td.buffer {
  width: 4%;
  padding-bottom: 10px;
}

.contact h2 {
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.contact td.col1 {
  width: 47%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #71614e;
}

.contact td.detail {
  width: 92%;
  border-bottom: 1px solid #71614e;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #71614e;
}

.contact input {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  text-decoration: none;
  font-weight: normal;
  background-color: black;
  width: 300px;
}

.contact select {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  text-decoration: none;
  font-weight: normal;
  background-color: black;
}

.contact textarea {
  padding-top: 5px;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  text-decoration: none;
  font-weight: normal;
  background-color: black;
  padding: 5px;
}

/* End Contact */
/* Players */
.players {
  color: #000;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  line-height: 16px;
  vertical-align: middle;
}

#playerlist tr:nth-child(odd) {
  background-color: rgba(131, 131, 131, 0.2);
}

.players table {
  width: 810px;
  margin: 0 auto;
}

.players td {
  padding-top: 2px;
  padding-bottom: 2px;
}

.players td.buffer {
  width: 3%;
  background-color: none;
}

.players td.sort a {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
}

.players td.sort {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-weight: normal;
}

.players td.playername {
  width: 15%;
  border-bottom: 1px solid #71614e;
}

.players td.timestamps {
  text-align: center;
  padding: 4px 4px 4px 4px;
}

.players td.playertitle {
  width: 45%;
  border-bottom: 1px solid #71614e;
}

.players td.guild {
  width: 6%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.players td.faction {
  width: 7%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.players td.kills {
  width: 5%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.players td.karma {
  width: 7%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.players td.fame {
  width: 7%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.players a {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
}

.players a:hover {
  color: #351601;
  text-decoration: underline;
}

/* Players */
/* Items */
.itemdatabase {
  color: #000;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  line-height: 16px;
  vertical-align: middle;
}

#itemdblist tr:nth-child(odd) {
  background-color: rgba(131, 131, 131, 0.2);
}

.itemdatabase table {
  width: 805px;
  margin: 0 auto;
}

.itemdatabase td {
  padding-top: 2px;
  padding-bottom: 2px;
}

.itemdatabase td.sort a {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
}

.itemdatabase td.sort {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-weight: normal;
}

.itemdatabase td.full {
  text-align: center;
  padding: 5px 5px 5px 5px;
}

.itemdatabase td.playername {
  width: 15%;
  border-bottom: 1px solid #71614e;
}

.itemdatabase td.timestamps {
  text-align: center;
  padding: 4px 4px 4px 4px;
}

.itemdatabase td.col1 {
  width: 30%;
  border-bottom: 1px solid #71614e;
}

.itemdatabase td.col2 {
  width: 20%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.itemdatabase td.col3 {
  width: 20%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.itemdatabase td.col4 {
  width: 15%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.itemdatabase td.col5 {
  width: 4%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.itemdatabase a {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
}

.itemdatabase a:hover {
  color: #351601;
  text-decoration: underline;
}

/* Items */
/* Item Database */
.itemdetails {
  color: #000;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  line-height: 16px;
  vertical-align: middle;
}

#itemdetailslist tr:nth-child(odd) {
  background-color: rgba(131, 131, 131, 0.2);
}

.itemdetails table {
  width: 805px;
  margin: 0 auto;
}

.itemdetails td {
  padding-top: 1px;
  padding-bottom: 1px;
}

.itemdetails td.full {
  text-align: center;
  padding: 5px 5px 5px 5px;
}

.itemdetails td.col1 {
  width: 15%;
  border-bottom: 1px solid #71614e;
  text-align: left;
}

.itemdetails td.col2 {
  width: 35%;
  border-bottom: 1px solid #71614e;
  text-align: left;
}

.itemdetails td.col3 {
  width: 7%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.itemdetails td.col4 {
  width: 12%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.itemdetails td.col5 {
  width: 12%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.itemdetails td.col6 {
  width: 10%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.itemdetails a {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
}

.itemdetails a:hover {
  color: #351601;
  text-decoration: underline;
}

/* Item Database */
/* Guild Listing*/
.guildlist {
  color: #000;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  line-height: 16px;
  vertical-align: middle;
}

#guildlist tr:nth-child(odd) {
  background-color: rgba(131, 131, 131, 0.2);
}

.guildlist table {
  width: 805px;
  margin: 0 auto;
}

.guildlist td {
  padding-top: 2px;
  padding-bottom: 2px;
}

.guildlist td.full {
  text-align: center;
  padding: 5px 5px 5px 5px;
}

.guildlist td.col1 {
  width: 4%;
  border-bottom: 1px solid #71614e;
  text-align: left;
}

.guildlist td.col2 {
  width: 45%;
  border-bottom: 1px solid #71614e;
  text-align: left;
}

.guildlist td.col3 {
  width: 25%;
  border-bottom: 1px solid #71614e;
  text-align: left;
}

.guildlist td.col4 {
  width: 8%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.guildlist td.col5 {
  width: 8%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.guildlist a {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
}

.guildlist a:hover {
  color: #351601;
  text-decoration: underline;
}

/* Guild Listing*/
/* Holiday Leaderboard*/
.hleaderboard {
  color: #000;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  line-height: 16px;
  vertical-align: middle;
}

#santa tr:nth-child(even) {
  background-color: rgba(131, 131, 131, 0.2);
}

#hidden tr:nth-child(even) {
  background-color: rgba(131, 131, 131, 0.2);
}

#frozen tr:nth-child(even) {
  background-color: rgba(131, 131, 131, 0.2);
}

#ice tr:nth-child(even) {
  background-color: rgba(131, 131, 131, 0.2);
}

.hleaderboardheader {
  font-family: "metamorphousregular", Verdana, Arial;
  color: #663b1e;
  margin: 0px;
  padding-top: -5px;
  text-transform: uppercase;
  font-size: 20px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.8);
  text-align: left;
  min-width: 150px;
}

.hleaderboard table {
  width: 805px;
  margin: 0 auto;
}

.hleaderboard td.headerimage {
  text-align: right;
  width: 25%;
  vertical-align: middle;
}

.hleaderboard td.headerdesc {
  text-align: left;
  width: 70%;
}

.hleaderboard td {
  padding-top: 2px;
  padding-bottom: 2px;
}

.hleaderboard td.full {
  text-align: center;
  padding: 5px 5px 5px 5px;
  font-weight: bold;
}

.hleaderboard td.infoblock {
  padding: 10px 30px 10px 30px;
}

.hleaderboard td.infoblock2 {
  padding: 10px 30px 10px 30px;
  text-align: center;
}

.hleaderboard td.leftcenter {
  text-align: left;
  padding: 5px 5px 5px 5px;
  width: 55%;
}

.hleaderboard td.rightcenter {
  text-align: right;
  padding: 5px 5px 5px 5px;
  width: 45%;
}

.hleaderboard td.col1 {
  width: 15%;
  border-bottom: 1px solid #71614e;
  text-align: left;
}

.hleaderboard td.col2 {
  width: 10%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.hleaderboard td.col3 {
  width: 10%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.hleaderboard td.col4 {
  width: 10%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.hleaderboard td.col5 {
  width: 10%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.hleaderboard td.col6 {
  width: 10%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.hleaderboard td.col7 {
  width: 10%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.hleaderboard td.col8 {
  width: 10%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.hleaderboard td.col9 {
  width: 10%;
  border-bottom: 1px solid #71614e;
  text-align: center;
}

.hleaderboard a {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
}

.hleaderboard a:hover {
  color: #351601;
  text-decoration: underline;
}

/* Holiday Leaderboard*/
/* Left Pane */
.menuheadernew a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.menuheadernew a:hover {
  text-decoration: underline;
}

.menucontentnew {
  color: #000;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  line-height: 14px;
  vertical-align: left;
  padding: 8px 30px 0px 30px;
}

.menucontentnew2 {
  color: #000;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  line-height: 14px;
  vertical-align: left;
  padding: 3px 30px 0px 28px;
}

.menupadding {
  padding: 4px 0px 0px 0px;
}

.menucontentnew2 td.col1 {
  width: 70%;
  text-align: left;
}

.menucontentnew2 td.col2 {
  width: 30%;
  text-align: center;
}

.menucontentnew2 td.header1 {
  width: 100%;
  text-align: center;
}

.menucontentnew2 td.header2 {
  width: 30%;
  text-align: center;
  padding-right: 3px;
}

/*# sourceMappingURL=meupaudeoculos.css.map */
